{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>U-Balance Dashboard</title>
  <link rel="stylesheet" href="{% static 'core/css/style_dashboard.css' %}" />
</head>
<body>
  <!-- começo do site -->
  <aside class="sidebar">
      <h1>U-Balance</h1>
      <nav>
          <a href="{% url 'core:dashboard' %}">🏠 Início</a>
          <a href="" id="abrirModalTransacao">💲 Adicionar Transação</a>
          <a href="#" id="abrirModalMeta">🎯 Adicionar Meta</a>
          <a href="#" id="abrirModalObjetivo">📈 Adicionar Objetivo</a>
          <a href="{% url 'core:metas:meta' %}">🎯 Metas</a>
          <a href="{% url 'core:objetivos:menu_objetivos' %}">📈 Objetivos</a>
          <a href="{% url 'core:menuExtrato' mes=mes ano=ano %}">🧾 Extrato</a>
          <a href="#">📊 Relatórios</a>
          <a href="#">⚙️ Configurações</a>
          <a href="{% url 'usuario:logout' %}" id="logout">Logout</a>
      </nav>
  </aside>

  <main class="content">
      <div class="top-bar">
          <h2>Dashboard Financeiro</h2>
          <div><strong>Usuário:</strong> {{ username }}</div>
    </div>

    <div class="saldo-box">
        <h2>Saldo Atual: R$ {{ saldo_atual }}</h2>
        <p>Ganhos do mês: R$ {{ ganhos_mes }} | Gastos do mês: R$ {{ gastos_mes }}</p>
    </div>

    <div class="flex">
        <div style="width: 50%;">
            <div class="desempenho-box">
                <h3>Desempenho - {{ mes_ano }}</h3>
                <p>Resultado: <strong>{{ balanco_mes }}</strong></p><br>
                <p style="font-size: 20px;">Entradas: <span style="color:green">{{ ganhos_mes }}</span> <br><br> Saídas: <span style="color:red">{{ gastos_mes }}</span></p>
            </div>
            <div class="transacoes-box">
                <h3>Últimas Transações</h3>
                <ul>
                    <!-- Melhorar a exibição das parcelas e dos titulos  -->
                    <li>categoria   |   parcelas   |  valor  |  data</li>
                    {% if ultimos_lancamentos|length > 0 %}
                        {% for parcela in ultimos_lancamentos %}
                            <li><span>{{ parcela.transacao_fk.categoria_fk.nome }}
                                {% if  parcela.transacao_fk.quantidade_parcelas > 1 %}
                                    parcelas({{ parcela.ordem_parcela }}/{{ parcela.transacao_fk.quantidade_parcelas }})
                                {% else %}
                                    à vista
                                {% endif %}
                                {% if parcela.transacao_fk.tipo == 'R' %}+{{ parcela.valor }}{% else %}-{% endif %}
                                {{ parcela.data }}</span></li>
                        {% endfor %}
                    {% else %}
                        <li><span>Nenhuma transação recente</span></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="grafico-box">
            <h3>Controle por Categoria</h3><br>
            <button onclick="alternarGrafico()" id="btnAlternar">Ver Ganhos</button>
            <canvas id="graficoGastos"></canvas>
        </div>

        <div class="metas-box" style="width: 30%;">
    <h3>
        Metas&nbsp;&nbsp;&nbsp;
        <a href="{% url 'core:metas:meta' %}" id="btnVermaisMeta" style="color: #0c7500">Ver mais</a>
    </h3><br>
    {% if meta %}
        <ul>
            <li><span><strong>Categoria:</strong> {{ meta.categoria_fk.nome }}</span></li>
            <li><span><strong>Tipo:</strong> {{ meta.tipagem }}</span></li>
            <li><span><strong>Valor da meta: R$</strong> {{ meta.valor|floatformat:2 }}R$</span></li>
            <li><span><strong>Valor atingido: R$</strong> {{ meta.valorAcumulado|floatformat:2 }}R$</span></li>
            <li><span><strong>Status: </strong> {{ meta.status_formatado }}</span></li>
            <li><span><strong>Data limite:</strong> {{ meta.data_fim|date:"d/m/Y" }}</span></li>
        </ul>
    {% else %}
        <p>Nenhuma meta cadastrada.</p>
    {% endif %}
    <br>
    <h3>
        Objetivos&nbsp;&nbsp;&nbsp;
        <a href="{% url 'core:objetivos:menu_objetivos' %}" id="btnVermaisObjetivos" style="color: #0c7500">Ver mais</a>
    </h3><br>
    {% if objetivo %}
        <ul>
            <li><span><strong>Titulo:</strong> {{ objetivo.titulo }}</span></li>
            <li><span><strong>Valor do objetivo: R$</strong> {{ objetivo.valor_objetivo|floatformat:2 }}</span></li>
            <li><span><strong>Valor guardado: R$</strong> {{ objetivo.valor_guardado|floatformat:2 }}</span></li>
            <li><span><strong>Status: </strong> {{ objetivo.status_formatado }}</span></li>
            <li><span><strong>Data Limite:</strong> {{ objetivo.data_fim|date:"d/m/Y" }}</span></li>
        </ul>
    {% else %}
        <p>Nenhum objetivo cadastrado.</p>
    {% endif %}
</div>
      <div class="future-box">
          <h3 style="padding-top: 5px;">Lançamentos Futuros</h3>
          <ul>
              {% if lancamentos_futuros|length > 0 %}
                  {% for parcela in lancamentos_futuros %}
                      <li><span>{{ parcela.transacao_fk.categoria_fk.nome }} {{ parcela.data }}</span>
                          <span class="valor">{% if transacao.tipo == 'entrada' %}+{% else %}-{% endif %}{{ transacao.valor }}</span></li>
                  {% endfor %}
              {% else %}
                  <li><span>Nenhuma Transação futura</span></li>
              {% endif %}
          </ul>
          <button id="btnVermaisFuture">Ver mais</button><br><br>
      </div>
  </main>

  <div id="modalTransacao">
      <div class="modal-content">
          <div class="tabs">
              <button type="button" class="tab active" data-tipo="saida">Despesa</button>
              <button type="button" class="tab" data-tipo="entrada">Receita</button>
          </div>

          <h2>Adicionar Transação 💲</h2><br>
          <p>Aqui você irá adicionar uma transação, seja ela uma receita ou despesa para auxiliarmos no gerenciamento financeiro da sua conta! <strong>Lembre-se</strong>, é importante manter as transações atualizadas para uma maior precisão de decisões. ⚠️</p><br>
          <hr>
          <br>
          <form id="formTransacaoDespesa" action="{% url 'core:financeiro:criar-despesa' %}" method="POST">
              {% csrf_token %}
              <label></label>
              <input type="hidden" name="tipoform" value="transacao_despesa">

              <div id="camposDespesa">
                  <label>Valor gasto: <br>
                      <input type="number" name="valor_despesa" step="0.01" min="0.01" required><br>
                  </label>

                  <label>Categoria:<br>
                      <select name="categoria_despesa" required>
                          {% for categoria in todas_categorias_despesa %}
                              <option value="{{ categoria.nome }}">{{ categoria.nome }}</option>
                          {% endfor %}
                      </select>
                  </label>

                  <label>Condição do pagamento:<br>
                      <select id="condicaoPagamento" name="condicao_despesa">
                          <option value="avista">À vista</option>
                          <option value="parcelado">Parcelado</option>
                      </select></label><br>
                  <div id="campoParcelas" style="display: none;">
                      <label>Quantidade de parcelas:<br>
                          <input type="number" name="parcelas_despesa" min="1" value="1" step="1"><br>
                      </label>
                  </div>

                  <label>Data da Transação:<br>
                  <input type="date" name="data_despesa" required><br>
                  </label>

                  <label>Descrição:<br>
                  <input type="text" name="descricao_despesa"><br>
                  </label>
                  <!-- ADICIONADO 16/05/2025   1-->
                  <div class="radio-group">
                      <label>Você já realizou o pagamento dessa despesa?</label>
                      <div class="radio-option">
                          <input type="radio" name="pagamentoRE_despesa" id="pagamentoSIM" value="true" required>
                          <label for="pagamentoSIM">Sim, já paguei essa despesa.</label>
                      </div>
                      <div class="radio-option">
                          <input type="radio" name="pagamentoRE_despesa" id="pagamentoNAO" value="false" required>
                          <label for="pagamentoNAO">Não, não paguei essa despesa.</label>
                      </div>
                  </div><br>
                  <button type="submit" class="btn-salvar">Salvar</button>
                  <button type="button" onclick="fecharModal()" class="btn-cancelar">Cancelar</button>
              </div>
          </form>
          <form id="formTransacaoReceita" action="{% url 'core:financeiro:criar-receita' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="tipoform" value="transacao_receita">
              <div id="camposReceita" style="display: none;">
                  <label>Valor ganho:<br>
                      <input type="number" name="valor_receita" step="0.01" min="0.01" required>
                      <br>
                  </label>

                  <label>Categoria:<br>
                  <select name="categoria_receita" required>
                      {% for categoria in todas_categorias_receita %}
                    <option value="{{ categoria.nome }}">{{ categoria.nome }}</option>
                      {% endfor %}
                  </select>
                  </label>

                  <label>Data:<br>
                      <input type="date" name="data_receita" required><br>
                  </label>


                  <label>Descrição:<br>
                      <input type="text" name="descricao_receita" required><br>
                  </label>

                  <!-- ADIIONADO 16/05/2025    2-->

                  <div class="radio-group">
                      <label>Você já recebeu essa receita?</label>
                      <div class="radio-option">
                          <input type="radio" name="pagamentoRE_receita" id="pagamentoSIM" value="true" required>
                          <label for="pagamentoSIM">Sim, já recebi essa receita.</label>
                      </div>
                      <div class="radio-option">
                          <input type="radio" name="pagamentoRE_receita" id="pagamentoNAO" value="false" required>
                          <label for="pagamentoNAO">Não, não recebi essa receita ainda.</label>
                      </div>
                  </div><br>
                  <!-------------------------   2-->
                  <button type="submit" class="btn-salvar">Salvar</button>
                  <button type="button" onclick="fecharModal()" class="btn-cancelar">Cancelar</button>
              </div>
              <br>
          </form>
      </div>
  </div>
  <div id="modalMeta">
      <div class="modal-content">
          <h2>Adicionar Meta 🎯</h2><br>
          Aqui você irá definir uma meta, ela pode ser tratada de duas formas:<br><br>
          <strong>1° </strong>Você pode defini-la como algo a ser atingido.<strong>(Mínimo Desejado)</strong><br>
          &nbsp;&nbsp;&nbsp;<strong>Exemplo:</strong>&nbsp;Sobrar pelo menos R$1000 ao final do mês.<br><br>
          <strong>2°</strong> Você pode defini-la como um limite a não ser ultrapassado.<strong>(Limite Máximo)</strong><br>
          &nbsp;&nbsp;&nbsp;<strong>Exemplo:</strong>&nbsp;Gastar até R$300 com ‘internet’. <br><br>
          <hr><br>
          <form id="formMeta" action="{% url 'core:metas:criar-meta' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="tipoform" value="meta">
              <p>Tipo da meta:</p>
              <label>
              <select name="tipoMeta" required>
                  <option value="minDesejado">Mínimo Desejado</option>
                  <option value="limMaximo">Limite Máximo</option>
              </select>
              </label>
              <p>Categoria da meta:</p>
              <label>
              <select name="categoria" required>
                  <option value="default" disabled selected>---------------</option>
                  {% for categoria in categorias %}
                      <option value="{{ categorias.nome }}">{{ categoria.nome }}</option>
                  {% endfor %}
              </select>
              </label>
              <p>Valor desejado(Atingir/Evitar):</p>
              <label>
                  <input type="number" step="0.01" name="valorMeta" required />
              </label>
              <p>Data Início:</p>
              <label>
                  <input type="date" name="dataInicio"/>
              </label>
              <p>Data Final:</p>
              <label>
                  <input type="date" name="dataFinal"/>
              </label>
              <p>Descrição:</p>
              <label>
                  <input type="text" name="descricao"/>
              </label>
              <div style="text-align:right;">
                  <button type="submit" class="btn-salvar">Salvar</button>
                  <button type="button" class="btn-cancelar" onclick="fecharModalMeta()">Cancelar</button>
              </div>
          </form>
      </div>
  </div>
  <!--ADICIONADO 16/05/2025  3 -->

  <div id="modalObjetivo">
      <div class="modal-content">
          <h2>Adicionar Objetivo 📈</h2><br>
          <p>Aqui você irá adicionar um objetivo, diferente da meta, o objetivo se trata de algo focado no longo prazo, sempre relacionado a uma poupança ou investimento para a realização de algo.<br>
              <br><strong>Exemplo 1: Comprar um carro - R$30.000</strong><br>
              <strong>Exemplo 2: Comprar um apartamento - R$345.000</strong></p><br>
          <hr><br>
          <form id="formObjetivo" action="{% url 'core:objetivos:criar-objetivo' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="tipoform" value="objetivo">
              <p>Título do Objetivo:</p>
              <label>
                  <input type="text" name="tituloObjetivo" required />
              </label>

              <p>Valor que deseja guardar:</p>
              <label>
              <input type="number" step="0.01" name="valorDesejado" min="0" required />
              </label>

              <p>Valor já guardado:</p>
              <label>
              <input type="number" step="0.01" name="valorGuardado" min="0" required />
              </label>

              <p>Data final do Objetivo:</p>
              <label>
                  <input type="date" name="anoFinal"  required />
              </label>

              <div style="text-align:right;">
                  <button type="submit" class="btn-salvar">Salvar</button>
                  <button type="button" class="btn-cancelar" onclick="fecharModalObjetivo()">Cancelar</button>
              </div>
          </form>
      </div>
  </div>
  <!------------------------- 3 -->
  <script src="{% static 'core/js/script.js' %}" defer></script>
<script>
    let modoGrafico = "gastos";
const ctx = document.getElementById("graficoGastos").getContext("2d");

let div = document.getElementById("grafico_despesa");

if (!div) {
  console.warn("#grafico_despesa não encontrado.");
}

const categorias_gasto = "{{ categorias_transacoes_despesas }}".split(',');
const valores_gasto = "{{ lista_despesas_categoria }}".split(',');

const cores_gastos = {
    "Alimentação": "#f39c12"
  , "Transporte": "#1abc9c"
  , "Educação": "#3498db"
  , "Moradia": "#9b59b6"
  , "Despesas pessoais": "#e74c3c"
  , "Saúde": "#2ecc71"
  , "Tarifas": "#34495e"
  , "Outras despesas": "#95a5a6"
};

let lista_cores_gastos = [];
let nome_categorias_gastos = [];

for(let i= 0; i < categorias_gasto.length; i++){
  let nome = categorias_gasto[i]
  lista_cores_gastos.push(cores_gastos[nome]);
  nome_categorias_gastos.push(nome);
}

let dadosGastos = {
  labels: nome_categorias_gastos,
  datasets: [{
    label: "Gastos por Categoria",
    data: valores_gasto,
    backgroundColor: lista_cores_gastos
  }]
};

div = document.getElementById("grafico_receita")

const categorias_ganhos = "{{ categorias_transacoes_receitas }}".split(',');
const valores_ganhos = "{{ lista_receitas_categoria }}".split(',');

const cores_ganhos = {
    "Salário": "#1f77b4"
  , "Aposentadoria": "#ff7f0e"
  , "Bolsa de estudos": "#2ca02c"
  , "Aluguel recebido": "#d62728"
  , "Rendimentos de investimentos": "#9467bd"
  , "Freelance": "#8c564b"
  , "Venda de produtos": "#e377c2"
  , "Comissão": "#7f7f7f"
  , "Prêmios": "#bcbd22"
  , "Presente": "#17becf"
  , "Doação": "#aec7e8"
  , "Herança": "#ffbb78"
  , "Outras Receita": "#95a5a6"
};


let lista_cores_ganhos = [];
let nome_categorias_ganhos = [];

for (let i = 0; i < categorias_ganhos.length; i++){
  let nome = categorias_ganhos[i];
  lista_cores_ganhos.push(cores_ganhos[nome]);
  nome_categorias_ganhos.push(nome);
}


const dadosGanhos = {
  labels: nome_categorias_ganhos,
  datasets: [{
    label: "Ganhos por Categoria",
    data: valores_ganhos,
    backgroundColor: lista_cores_ganhos
  }]
};

let meuGrafico = new Chart(ctx, {
   type: "doughnut",
   data: dadosGastos,
   options: {
     responsive: true,
     plugins: {
       legend: {position: 'bottom'}
     }
   }
});

function alternarGrafico() {
    if (modoGrafico === "gastos") {
      meuGrafico.data = dadosGanhos;
      document.getElementById("btnAlternar").innerText = "Ver Gastos";
      modoGrafico = "ganhos";
    } else {
      meuGrafico.data = dadosGastos;
      document.getElementById("btnAlternar").innerText = "Ver Ganhos";
      modoGrafico = "gastos";
    }
    meuGrafico.update();
  }
</script>
</body>
</html>
