{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>U-Balance</title>
  <link rel="stylesheet" href="{% static 'core/css/style-dashboard.css' %}" />
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="{% url 'core:index' %}">U-Balance</a>
                <p class="username">Usuario: {{request.user.username}}</p>
                <p class="email">Email: {{request.user.email}}</p>
            </div>
          <nav>
            <a href="{% url 'usuario:logout' %}">Logout</a>
          </nav>
        </div>
      </header>

      <div class="container">
        <div class="botoes">
            <a href="{% url 'saldo:inserir-saldo' %}">Inserir transacao</a>
            <a href="{% url 'saldo:historico-saldo' %}">Mostrar historico</a>
            <a href="{% url 'core:manutencao' %}">Relatorios</a>
            <a href="{%url 'saldo:criar-metas' %}">Inserir metas</a>
            <a href="{% url 'saldo:mostrar-metas' %}">Mostrar metas</a>
        </div>
      </div>
</body>
</html>