{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - U-Balance</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'usuarios/css/style-login-cadastro.css' %}">
</head>
<body>
<header>
    <div class="logo"><a href="{% url 'core:index' %}">U-Balance</a></div>
</header>

<main class="form-container">
    <form class="form-box" action="{% url 'usuario:cadastro' %}" method="POST">
        {% csrf_token %}
        <h2>Cadastro</h2>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <label for="login">Login</label>
        <input type="text" id="login" name="usuario" required>

        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" required>

        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" required>

        <label for="confirmar">Repetir senha</label>
        <input type="password" id="confirmar" name="repetir_senha" required>

        <button type="submit">Cadastrar</button>
        <p class="link">Já tem uma conta? <a href="{% url 'usuario:login' %}">Entrar</a></p>
    </form>
</main>

<footer>
    <p>&copy; 2025 - U-Balance</p>
</footer>
<script>

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    document.addEventListener("DOMContentLoaded", () => {

        sleep(5000).then(() => {
            document.querySelectorAll(".alert").forEach(mensagem => {
                mensagem.style.display = "none"
            });
        });
    })
</script>

</body>
</html>
