
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Error...</title>
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <header>
    <div style="align-items: center;">
      <div style="font-size: 40px; color: green;">Error 404</div>
    </div>
  </header>
	<main>
		<h1 align="center" style="margin-top: 12%;"> Sentimos muito, infelizmente não conseguimos acessar a página...</h1><br>
		<h1 align="center" style="font-size: 80px; color: lightgreen; font-family: serif; "> 404 </h1><br>
		<h1 align="center" style="font-size: 60px; color: green; font-family: serif; "> PAGE_NOT_FOUND </h1>
		<br>
		<h2> 
	</main>
  <footer style="position: absolute; bottom: 0px; width: 100%;">
    <p>&copy; 2025 - U-Balance</p>
  </footer>
</body>
</html>
