{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>U-Balance - Relatórios</title>
    <link rel="stylesheet" href="{% static 'core/css/style_dashboard.css' %}"/>
    <link rel="stylesheet" href="{% static 'relatorio/css/relatorios.css' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'relatorio/js/scriptRelatorios.js' %}" defer></script>
</head>
<body>
<aside class="sidebar">
    <h1>U-Balance</h1>
    <nav>
        <a href="{% url 'core:dashboard' %}">🏠 Início</a>
        <a href="#transacao" id="abrirModalTransacao">💲 Adicionar Transação</a>
        <a href="#meta" id="abrirModalMeta">🎯 Adicionar Meta</a>
        <a href="#objetivo" id="abrirModalObjetivo">📈 Adicionar Objetivo</a>
        <a href="{% url 'core:metas:meta' %}">🎯 Metas</a>
        <a href="{% url 'core:objetivos:menu_objetivos' %}">📈 Objetivos</a>
        <a href="{% url 'core:menuExtrato' mes=mes ano=ano %}">🧾 Extrato </a>
        <a href="{% url 'core:relatorio:relatorio_mensal' %}"
           style="display:block; background-color: #f0f0f0; font-weight: 600;">📊
            Relatórios</a>
        <a href="{% url 'usuario:configuracoes' %}">⚙️ Configurações</a>
        <a href="{% url 'usuario:logout' %}" id="logout">Logout</a>
    </nav>
</aside>

<main class="content">
    <div class="top-bar">
        <h2>Relatório Financeiro de {{ mes }}/{{ ano }}</h2>
        <span class="usuario">Usuário: {{ user.username }}</span>
    </div>

    <div class="cards">
        <div class="card">Saldo atual<br>
            <h1>R$ {{ saldo_atual|floatformat:2 }}</h1></div>
        <div class="card">Saldo do mês:<h1>R$ {{ saldo_total|floatformat:2 }}</h1></div>
        <div class="card">Receita do mês:<h1>R$ {{ receita_total|floatformat:2 }}</h1></div>
        <div class="card">Despesa do mês:<h1>R$ {{ despesa_total|floatformat:2 }}</h1></div>
    </div>

    <section class="relatorios-content">
        <div class="resumo-container">
            <div class="resumo-coluna">
                <h3>Resumo Geral</h3><br>
                <ul>
                    <li>Saldo no início do mês: R$ {{ saldo_inicio|floatformat:2 }}</li>
                    <br>
                    <li>Saldo final do mês: R$ {{ saldo_final|floatformat:2 }}</li>
                    <br>
                    <li>Ganho/Lucro: R$ {{ lucro|floatformat:2 }}</li>
                    <br>
                    <li>Transações de Receitas: {{ transacoes_receitasMes }}</li>
                    <br>
                    <li>Transações de Despesas: {{ transacoes_despesasMes }}</li>
                    <br>
                    <li>Total de Transações no Mês: {{ transacoes_totaisMes }}</li>
                    <br>
                </ul>
                <br>

                <h3>🎯 Metas financeiras</h3><br>
                <ul>
                    <li>Total de metas: {{ total_quantidade_metas }}</li>
                    <br>
                    <li>Metas ativas no total: {{ metas_ativas }}</li>
                    <br>
                    <li>Metas concluídas no mês: {{ metas_concluidas }}</li>
                    <br>
                    <li>Metas ultrapassadas no mês: {{ metas_ultrapassadas }}</li>
                    <br>
                    <li>Metas não atingidas no mês: {{ metas_naoatingidas }}</li>
                    <br>
                    <li>Taxa de Sucesso: {{ taxa_sucesso_metas|floatformat:2 }}%</li>
                    <br>
                </ul>
                <br>
            </div>

            <div class="resumo-coluna">
                <h3>💰 Objetivos de Poupança</h3><br>
                <ul>
                    <li>Total de objetivos existentes: {{ total_objetivos }}</li>
                    <br>
                    <li>Objetivos ativos no total: {{ objetivos_ativosTotal }}</li>
                    <br>
                    <li>Objetivos pausados no total: {{ objetivos_pausadosTotal }}</li>
                    <br>
                    <li>Objetivos concluidos no total: {{ objetivos_concluidosTotal }}</li>
                    <br>
                    <li>Objetivos concluídos este mês: {{ objetivos_concluidosMes }}</li>
                    <br>
                    <li>Objetivos criados este mês: {{ objetivos_criadosMes }}</li>
                    <br>
                    <li>Total Economizado: {{ total_economizado_objetivos }}</li>
                    <br>
                </ul>
                <br>

                <h3>📊 Análise Detalhada</h3><br>
                <ul>
                    <li>Categoria com maior Gasto: <strong>{{ maior_categoria_despesa }}</strong> [
                        R$ {{ valor_maior_categoria_despesa }} ]
                    </li>
                    <br>
                    <li>Categoria com menor Gasto: <strong>{{ menor_categoria_despesa }}</strong> [
                        R$ {{ valor_menor_categoria_despesa }} ]
                    </li>
                    <br>
                    <li>Categoria com maior receita: <strong>{{ maior_categoria_receita }}</strong> [
                        R$ {{ valor_maior_categoria_receita }} ]
                    </li>
                    <br>
                    <li>Categoria com menor receita: <strong>{{ menor_categoria_receita }}</strong> [
                        R$ {{ valor_menor_categoria_receita }} ]
                    </li>
                    <br>
                    <li>Maior transação de receita: R$ {{ maior_receita }}</li>
                    <br>
                    <li>Maior transação de despesa: R$ {{ maior_despesa }}</li>
                    <br>
                    <li>Frequência de Transações: {{ frequencia_transacoes|floatformat:2 }} por dia
                    </li>
                    <br>
                </ul>
            </div>
        </div>

        <div class="graficos-container">
            <div class="grafico-switch">
                <div class="chart-header">
                    <h3>Gráfico da variação do saldo do mês</h3>
                    <button id="botao-historico-fluxo" onclick="alternarGrafico()" class="btn-grafico" value="fluxo">
                        Alternar para fluxo de caixa
                    </button>
                </div>
                <canvas id="graficoLinha"></canvas>
            </div>

            <div class="graficos-row">
                <div class="grafico-categorias">
                    <div class="chart-header">
                        <h3>Gráfico de categorias</h3>
                        <button id="botao-pizza" onclick="alternarGraficoPizza()" class="btn-grafico" value="gastos">
                            Alternar para categorias de receita
                        </button>
                    </div>
                    <canvas id="graficoPizza"></canvas>
                </div>
                <div class="grafico-barras">
                    <div class="chart-header">
                        <h3 id="tituloGraficoBarras">Gastos por dia da semana</h3>
                    </div>
                    <canvas id="graficoBarras"></canvas>
                </div>
            </div>
        </div>
    </section>
</main>







<div id="modalTransacao">
    <div class="modal-content">
        <div class="tabs">
            <button type="button" class="tab active" data-tipo="saida">Despesa</button>
            <button type="button" class="tab" data-tipo="entrada">Receita</button>
        </div>

        <h2>Adicionar Transação 💲</h2><br>
        <p>Aqui você irá adicionar uma transação, seja ela uma receita ou despesa para auxiliarmos no gerenciamento
            financeiro da sua conta! <strong>Lembre-se</strong>, é importante manter as transações atualizadas para uma
            maior precisão de decisões. ⚠️</p><br>
        <hr>
        <br>
        <form id="formTransacaoDespesa" action="{% url 'core:financeiro:criar-despesa' %}?next={{ request.path }}" method="POST">
            {% csrf_token %}
            <label></label>
            <input type="hidden" name="next" value="{{ request.path }}">

            <div id="camposDespesa">
                <label>Valor gasto: <br>
                    <input type="number" name="valor_despesa" step="0.01" min="0.01" maxlength="12" required><br>
                </label>

                <label>Categoria:<br>
                    <select name="categoria_despesa" required>
                        {% for categoria in todas_categorias_despesa %}
                            <option value="{{ categoria.nome }}">{{ categoria.nome }}</option>
                        {% endfor %}

                    </select>
                </label>

                <label>Condição do pagamento:<br>
                    <select id="condicaoPagamento" name="condicao_despesa">
                        <option value="avista">À vista</option>
                        <option value="parcelado">Parcelado</option>
                    </select></label><br>
                <div id="campoParcelas" style="display: none;">
                    <label>Quantidade de parcelas:<br>
                        <input type="number" name="parcelas_despesa" min="1" maxlength="2" value="1" step="1"><br>
                    </label>
                </div>

                <label>Data da Transação:<br>
                    <input type="date" name="data_despesa" value="{{ hoje|date:'Y-m-d' }}" required><br>
                </label>

                <label>Descrição:<br>
                    <input type="text" name="descricao_despesa"><br>
                </label>
                <!-- ADICIONADO 16/05/2025   1-->
                <div class="radio-group">
                    <label>Você já realizou o pagamento dessa despesa?</label>
                    <div class="radio-option">
                        <input type="radio" name="pagamentoRE_despesa" id="pagamentoSIM" value="true" checked required>
                        <label for="pagamentoSIM">Sim, já paguei essa despesa.</label>
                    </div>
                    <div class="radio-option">
                        <input type="radio" name="pagamentoRE_despesa" id="pagamentoNAO" value="false" required>
                        <label for="pagamentoNAO">Não, não paguei essa despesa.</label>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn-salvar">Salvar</button>
                <button type="button" onclick="fecharModalTransacao()" class="btn-cancelar">Cancelar</button>
            </div>
        </form>
        <form id="formTransacaoReceita" action="{% url 'core:financeiro:criar-receita' %}?next={{ request.path }}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <div id="camposReceita" style="display: none;">
                <label>Valor ganho:<br>
                    <input type="number" name="valor_receita" step="0.01" min="0.01" maxlength="12" required>
                    <br>
                </label>

                <label>Categoria:<br>
                    <select name="categoria_receita" required>
                        {% for categoria in todas_categorias_receita %}
                            <option value="{{ categoria.nome }}">{{ categoria.nome }}</option>
                        {% endfor %}
                    </select>
                </label>

                <label>Data:<br>
                    <input type="date" name="data_receita" value="{{ hoje|date:'Y-m-d' }}" required><br>
                </label>

                <label>Descrição:<br>
                    <input type="text" name="descricao_receita"><br>
                </label>

                <!-- ADIIONADO 16/05/2025    2-->

                <div class="radio-group">
                    <label>Você já recebeu essa receita?</label>
                    <div class="radio-option">
                        <input type="radio" name="pagamentoRE_receita" id="pagamentoSIM" value="true" checked required>
                        <label for="pagamentoSIM">Sim, já recebi essa receita.</label>
                    </div>
                    <div class="radio-option">
                        <input type="radio" name="pagamentoRE_receita" id="pagamentoNAO" value="false" required>
                        <label for="pagamentoNAO">Não, não recebi essa receita ainda.</label>
                    </div>
                </div>
                <br>
                <!-------------------------   2-->
                <button type="submit" class="btn-salvar">Salvar</button>
                <button type="button" onclick="fecharModalTransacao()" class="btn-cancelar">Cancelar</button>
            </div>
            <br>
        </form>
    </div>
</div>
<div id="modalMeta">
    <div class="modal-content">
        <h2>Adicionar Meta 🎯</h2><br>
        Aqui você irá definir uma meta, ela pode ser tratada de duas formas:<br><br>
        <strong>1° </strong>Você pode defini-la como algo a ser atingido.<strong>(Mínimo Desejado)</strong><br>
        &nbsp;&nbsp;&nbsp;<strong>Exemplo:</strong>&nbsp;Sobrar pelo menos R$1000 ao final do mês.<br><br>
        <strong>2°</strong> Você pode defini-la como um limite a não ser ultrapassado.<strong>(Limite
        Máximo)</strong><br>
        &nbsp;&nbsp;&nbsp;<strong>Exemplo:</strong>&nbsp;Gastar até R$300 com ‘internet’. <br><br>
        <hr>
        <br>
        <form id="formMeta" action="{% url 'core:metas:criar-meta' %}?next={{ request.path }}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <p>Tipo da meta:</p>
            <label>
                <select name="tipoMeta" required>
                    <option value="MIN">Mínimo Desejado</option>
                    <option value="MAX">Limite Máximo</option>
                </select>
            </label>
            <p>Categoria da meta:</p>
            <label>
                <select name="categoria" required>
                    <option value="default" disabled selected>---------------</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.nome }}">{{ categoria.nome }}</option>
                    {% endfor %}
                </select>
            </label>
            <p>Valor desejado(Atingir/Evitar):</p>
            <label>
                <input type="number" step="0.01" name="valorMeta" required/>
            </label>
            <p>Data Início:</p>
            <label>
                <input type="date" name="dataInicio" value="{{ hoje|date:"Y-m-d" }}"/>
            </label>
            <p>Data Final:</p>
            <label>
                <input type="date" name="dataFinal"/>
            </label>
            <p>Descrição:</p>
            <label>
                <input type="text" name="descricao"/>
            </label>
            <div style="text-align:right;">
                <button type="submit" class="btn-salvar">Salvar</button>
                <button type="button" class="btn-cancelar" onclick="fecharModalMeta()">Cancelar</button>
            </div>
        </form>
    </div>
</div>
<!--ADICIONADO 16/05/2025  3 -->

<div id="modalObjetivo">
    <div class="modal-content">
        <h2>Adicionar Objetivo 📈</h2><br>
        <p>Aqui você irá adicionar um objetivo, diferente da meta, o objetivo se trata de algo focado no longo prazo,
            sempre relacionado a uma poupança ou investimento para a realização de algo.<br>
            <br><strong>Exemplo 1: Comprar um carro - R$30.000</strong><br>
            <strong>Exemplo 2: Comprar um apartamento - R$345.000</strong></p><br>
        <hr>
        <br>
        <form id="formObjetivo" action="{% url 'core:objetivos:criar-objetivo' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <p>Título do Objetivo:</p>
            <label>
                <input type="text" name="tituloObjetivo" required/>
            </label>

            <p>Valor que deseja guardar:</p>
            <label>
                <input type="number" step="0.01" name="valorDesejado" min="0" required/>
            </label>

            <p>Valor já guardado:</p>
            <label>
                <input type="number" step="0.01" name="valorGuardado" min="0" required/>
            </label>

            <p>Data final do Objetivo:</p>
            <label>
                <input type="date" name="anoFinal" required/>
            </label>

            <div style="text-align:right;">
                <button type="submit" class="btn-salvar">Salvar</button>
                <button type="button" class="btn-cancelar" onclick="fecharModalObjetivo()">Cancelar</button>
            </div>
        </form>
    </div>
</div>









<script defer>

    function dadosGraficoPizza(tipo) {
        if (tipo === "gastos") {

            const categorias_gasto = "{{ categorias_despesa }}".split(',');
            const valores_gasto = "{{ valores_categorias_despesa }}".split(',');

            const cores_gastos = {
                "Alimentação": "#f39c12"
                , "Transporte": "#1abc9c"
                , "Educação": "#3498db"
                , "Moradia": "#9b59b6"
                , "Despesas pessoais": "#e74c3c"
                , "Saúde": "#2ecc71"
                , "Tarifas": "#34495e"
                , "Outras despesas": "#95a5a6"
            };

            let lista_cores_gastos = [];
            let nome_categorias_gastos = [];

            for (let i = 0; i < categorias_gasto.length; i++) {
                let nome = categorias_gasto[i]
                lista_cores_gastos.push(cores_gastos[nome]);
                nome_categorias_gastos.push(nome);
            }

            return {
                labels: nome_categorias_gastos,
                datasets: [{
                    label: "Gastos por categoria",
                    data: valores_gasto,
                    backgroundColor: lista_cores_gastos
                }]
            };
        }
        if (tipo === "ganhos") {

            const categorias_ganhos = "{{ categorias_receita }}".split(',');
            const valores_ganhos = "{{ valores_categoria_receita }}".split(',');

            const cores_ganhos = {
                "Salário": "#1f77b4"
                , "Aposentadoria": "#ff7f0e"
                , "Bolsa de estudos": "#2ca02c"
                , "Aluguel recebido": "#d62728"
                , "Rendimentos de investimentos": "#9467bd"
                , "Freelance": "#8c564b"
                , "Venda de produtos": "#e377c2"
                , "Comissão": "#7f7f7f"
                , "Prêmios": "#bcbd22"
                , "Presente": "#17becf"
                , "Doação": "#aec7e8"
                , "Herança": "#ffbb78"
                , "Outras Receita": "#95a5a6"
            };

            let lista_cores_ganhos = [];

            let nome_categorias_ganhos = [];

            for (let i = 0; i < categorias_ganhos.length; i++) {
                let nome = categorias_ganhos[i];
                lista_cores_ganhos.push(cores_ganhos[nome]);
                nome_categorias_ganhos.push(nome);
            }


            return {
                labels: nome_categorias_ganhos,
                datasets: [{
                    label: "Ganhos por categoria",
                    data: valores_ganhos,
                    backgroundColor: lista_cores_ganhos
                }]
            };
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        try {
            const dados_historico = "{{ valores_historico|escapejs }}".split(',');
            const dias_historico = "{{ dias_historico|escapejs }}".split(',');
            let graficoLinha = new Chart(document.getElementById("graficoLinha"), {
                type: "line",
                data: {
                    labels: dias_historico,
                    datasets: [{
                        label: "historico",
                        data: dados_historico,
                        borderColor: "#2ecc71",
                        backgroundColor: "rgba(46, 204, 113, 0.1)",
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false, // Adicionado para controlar o tamanho
                    plugins: {legend: {display: false}}
                }
            });


            let dadosGastos = dadosGraficoPizza("gastos");

            let GraficoPizza = new Chart(document.getElementById("graficoPizza"), {
                type: "pie",
                data: dadosGastos,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {position: 'bottom'}
                    }
                }
            });

            const dados_gastos_dias_semana = "{{ gastos_dia_da_semana }}".split(",");
            const dias_semana = "{{ dias_semana }}".split(",");

            graficoBarras = new Chart(document.getElementById("graficoBarras").getContext("2d"), {
                type: "bar",
                data: {
                    labels: dias_semana,
                    datasets: [{
                        label: "Gastos",
                        data: dados_gastos_dias_semana,
                        backgroundColor: "#e74c3c"
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {legend: {display: false}}
                }
            });
        } catch (e) {
            console.error("Erro ao carregar dados dos gráficos.", e);
        }
    });

    function alternarGrafico() {
        const dados_historico = "{{ valores_historico|escapejs }}".split(',');

        const dados_fluxo = "{{ valores_fluxo }}".split(',');

        const botao_alternar = document.getElementById("botao-historico-fluxo");
        let tipoGraficoLinha = botao_alternar.value;

        botao_alternar.value = tipoGraficoLinha === "historico" ? "fluxo" : "historico";

        const graficoLinha = Chart.getChart("graficoLinha");

        graficoLinha.data.datasets[0] = tipoGraficoLinha === "historico"
            ? {
                label: "historico saldo",
                data: dados_historico,
                borderColor: "#2ecc71",
                backgroundColor: "rgba(46, 204, 113, 0.1)"
            }
            : {
                label: "Fluxo de Caixa",
                data: dados_fluxo,
                borderColor: "#3498db",
                backgroundColor: "rgba(52, 152, 219, 0.1)"
            };
        graficoLinha.update();
        const botao = document.querySelector(".grafico-switch button");
        botao.innerText = tipoGraficoLinha === "historico" ? "Alternar para fluxo de caixa" : "Alternar para saldo";

    }

    let modoGrafico = "gastos";

    function alternarGraficoPizza() {
        let meuGrafico = Chart.getChart("graficoPizza");
        if (modoGrafico === "gastos") {
            meuGrafico.data = dadosGraficoPizza("ganhos");
            document.getElementById("botao-pizza").innerText = "Alternar para categorias de despesa";
            modoGrafico = "ganhos";
        } else {
            meuGrafico.data = dadosGraficoPizza("gastos");
            document.getElementById("botao-pizza").innerText = "Alternar para categorias de receita";
            modoGrafico = "gastos";
        }
        meuGrafico.update();
    }







    // Modal - abrir e fechar
function fecharModalTransacao() {
    const modal = document.getElementById("modalTransacao");
    modal.classList.remove("ativo");
    cancelarNavegacaoHash_menu();
}

// Lista de transações
let transacao = [];

document.getElementById("formTransacaoReceita").addEventListener("submit", function (event) {
    const formData = new FormData(event.target);

    let valor = formData.get("valor_receita");
    let data = formData.get("data_receita");
    let descricao = formData.get("descricao_receita");
    let pago = formData.get("pagamentoRE_receita");

    if (valor == null || data == null || pago == null) {
        event.preventDefault();
        alert("Preencha os campos corretamente.");
        return;
    }

    if (parseFloat(valor) > 999999999) {
        event.preventDefault();
        alert("valor muito grande");
        return;
    }
    if (pago === "true") {
        pago = "Sim";
    } else if (pago === 'false') {
        pago = "Não";
    }

    alert(`Transação de receita adicionada:
        valor: 1xR$${valor}
        data: ${data}
        esta pago?: ${pago}
        descrição: ${descricao}
    `);
    cancelarNavegacaoHash_menu();
});

document.getElementById("formTransacaoDespesa").addEventListener("submit", function (event) {
    const formData = new FormData(event.target);
    const valor = formData.get("valor_despesa");
    const data = formData.get("data_despesa");
    const descricao = formData.get("descricao_despesa");
    let pago = formData.get("pagamentoRE_despesa");
    let parcelas = formData.get("parcelas_despesa")

    if (valor == null || data == null || pago == null || parcelas == null) {
        event.preventDefault();
        alert("Preencha os campos corretamente.");
    }

    console.log(parseFloat(valor));

    if (parseFloat(valor) > 999999999) {
        event.preventDefault();
        alert("valor muito grande");
        return;
    }

    if (pago === "true") {
        pago = "Sim";
    } else if (pago === 'false') {
        pago = "Não";
    }

    alert(`Transação de despesa adicionada:
  valor: ${parcelas}xR$${valor / parcelas}
  data: ${data}
  esta pago?: ${pago}
  descrição: ${descricao}
  `);


    cancelarNavegacaoHash_menu();
});

document.addEventListener("DOMContentLoaded", () => {
    const tabs = document.querySelectorAll(".tab");
    const camposDespesa = document.getElementById("camposDespesa");
    const camposReceita = document.getElementById("camposReceita");

    const condicaoPagamento = document.getElementById("condicaoPagamento");
    const campoParcelas = document.getElementById("campoParcelas");

    const btnAbrir = document.getElementById("abrirModalTransacao");
    const modal = document.getElementById("modalTransacao");

    tabs.forEach(tab => {
        tab.addEventListener("click", () => {
            tabs.forEach(t => t.classList.remove("active"));
            tab.classList.add("active");

            const tipo = tab.getAttribute("data-tipo");

            // Verifica qual aba foi clicada e exibe os campos corretos
            if (tipo === "saida") {
                camposDespesa.style.display = "block";
                camposReceita.style.display = "none";
            } else {
                camposDespesa.style.display = "none";
                camposReceita.style.display = "block";
            }
        });
    });

    condicaoPagamento.addEventListener("change", () => {
        campoParcelas.style.display = (condicaoPagamento.value === "parcelado") ? "block" : "none";
    });

    btnAbrir.addEventListener("click", () => {
        modal.classList.add("ativo");
    });
});


// Fechar modal
function fecharModalMeta() {
    document.getElementById("modalMeta").classList.remove("ativo");
    cancelarNavegacaoHash_menu();
}

// Mostrar/ocultar campo de data baseado na opção de exclusão


// Capturar dados do formulário de meta
document.getElementById("formMeta").addEventListener("submit", function (event) {
    const formData = new FormData(event.target);
    const tipo = formData.get("tipoMeta");
    const valor = parseFloat(formData.get("valorMeta"));
    const dataInicio = formData.get("dataInicio");
    const dataFinal = formData.get("dataFinal");
    const categoria = formData.get("categoria");

    if (!tipo || !valor || !dataInicio || !dataFinal || !categoria) {
        event.preventDefault();
        alert("Insira as informações corretamente!");
        return;
    }

    alert(`Meta adicionada:\n
  Tipo: ${tipo}
  Valor: R$ ${valor.toFixed(2)}
  Data Início: ${dataInicio}
  Data Final: ${dataFinal}
  categoria: ${categoria}`);

    cancelarNavegacaoHash_menu();
});

//ADICIONADO A PARTIR DAQUI DIA 16/06/2025

// Fechar modal de objetivo
function fecharModalObjetivo() {
    document.getElementById("modalObjetivo").classList.remove("ativo");
    cancelarNavegacaoHash_menu();
}

// Capturar dados do formulário de objetivo
document.getElementById("formObjetivo").addEventListener("submit", function (event) {
    const formData = new FormData(event.target);
    const titulo = formData.get("tituloObjetivo");
    const valorDesejado = parseFloat(formData.get("valorDesejado"));
    const valorGuardado = parseFloat(formData.get("valorGuardado"));
    const anoFinal = formData.get("anoFinal");

    if (!titulo || !valorDesejado || !valorGuardado || !anoFinal) {
        event.preventDefault();
        alert("insira as informações corretamente!");
        fecharModalObjetivo();
        return;
    }


    alert(`Objetivo adicionado:\n
  Título: ${titulo}
  Valor desejado: R$ ${valorDesejado.toFixed(2)}
  Valor guardado: R$ ${valorGuardado.toFixed(2)}
  Ano final: ${anoFinal}`);

    fecharModalObjetivo();
});

//---------------------------------------------------------------------------------

function cancelarNavegacaoHash_menu() {
    history.pushState("", document.title, window.location.pathname + window.location.search);
    fecharTodosModais_menu();
    location.reload()
}

function navegarParaHash_menu(forcadoHash) {
    if (location.hash === forcadoHash) {
        // Força o hashchange manualmente se o hash já for igual
        location.hash = "";
        // Pequeno delay para garantir o reset e acionar o hashchange
        setTimeout(() => location.hash = forcadoHash, 1);
    } else {
        location.hash = forcadoHash;
    }
}

document.getElementById("abrirModalTransacao").addEventListener("click", function (e) {
    e.preventDefault();
    navegarParaHash_menu("#transacao");
});

document.getElementById("abrirModalMeta").addEventListener("click", function (e) {
    e.preventDefault();
    navegarParaHash_menu("#meta");
});

document.getElementById("abrirModalObjetivo").addEventListener("click", function (e) {
    e.preventDefault();
    navegarParaHash_menu("#objetivo");
});


function abrirModalViaHash_menu() {
    const hash = window.location.hash;

    fecharTodosModais_menu();

    if (hash === "#transacao") {
        document.getElementById("modalTransacao").classList.add("ativo");
    } else if (hash === "#meta") {
        document.getElementById("modalMeta").classList.add("ativo");
    } else if (hash === "#objetivo") {
        document.getElementById("modalObjetivo").classList.add("ativo");
    }
}

function fecharTodosModais_menu() {
    document.querySelectorAll(".modal").forEach(modal => modal.classList.remove("ativo"));
}

// Dispara quando hash muda (botão voltar, link direto etc.)
window.addEventListener("hashchange", abrirModalViaHash_menu);

// Dispara ao carregar a página
window.addEventListener("DOMContentLoaded", abrirModalViaHash_menu);

window.addEventListener("hashchange", abrirModalViaHash_menu);
window.addEventListener("DOMContentLoaded", () => {
    abrirModalViaHash_menu();
});
</script>
</body>
</html>