{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>U-Balance - Relatórios</title>
    <link rel="stylesheet" href="{% static 'core/css/style_dashboard.css' %}"/>
    <link rel="stylesheet" href="{% static 'relatorio/css/relatorios.css' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'relatorio/js/scriptRelatorios.js' %}" defer></script>
</head>
<body>
<aside class="sidebar">
    <h1>U-Balance</h1>
    <nav>
        <a href="{% url 'core:dashboard' %}">🏠 Início</a>
        <a href="#transacao" id="abrirModalTransacao">💲 Adicionar Transação</a>
        <a href="#meta" id="abrirModalMeta">🎯 Adicionar Meta</a>
        <a href="#objetivo" id="abrirModalObjetivo">📈 Adicionar Objetivo</a>
        <a href="{% url 'core:metas:meta' %}">🎯 Metas</a>
        <a href="{% url 'core:objetivos:menu_objetivos' %}">📈 Objetivos</a>
        <a href="{% url 'core:menuExtrato' mes=mes ano=ano %}">🧾 Extrato </a>
        <a href="{% url 'core:relatorio:relatorio_mensal' %}"
           style="display:block; background-color: #f0f0f0; font-weight: 600;">📊
            Relatórios</a>
        <a href="{% url 'usuario:configuracoes' %}">⚙️ Configurações</a>
        <a href="{% url 'usuario:logout' %}" id="logout">Logout</a>
    </nav>
</aside>

<main class="content">
    <div class="top-bar">
        <h2>Relatório Financeiro de {{ mes }}/{{ ano }}</h2>
        <span class="usuario">Usuário: {{ user.username }}</span>
    </div>

    <div class="cards">
        <div class="card">Saldo atual<br>
            <h1>R$ {{ saldo_atual|floatformat:2 }}</h1></div>
        <div class="card">Saldo do mês:<h1>R$ {{ saldo_total|floatformat:2 }}</h1></div>
        <div class="card">Receita do mês:<h1>R$ {{ receita_total|floatformat:2 }}</h1></div>
        <div class="card">Despesa do mês:<h1>R$ {{ despesa_total|floatformat:2 }}</h1></div>
    </div>

    <section class="relatorios-content">
        <div class="resumo-container">
            <div class="resumo-coluna">
                <h3>Resumo Geral</h3><br>
                <ul>
                    <li>Saldo no início do mês: R$ {{ saldo_inicio|floatformat:2 }}</li>
                    <br>
                    <li>Saldo final do mês: R$ {{ saldo_final|floatformat:2 }}</li>
                    <br>
                    <li>Ganho/Lucro: R$ {{ lucro|floatformat:2 }}</li>
                    <br>
                    <li>Transações de Receitas: {{ transacoes_receitasMes }}</li>
                    <br>
                    <li>Transações de Despesas: {{ transacoes_despesasMes }}</li>
                    <br>
                    <li>Total de Transações no Mês: {{ transacoes_totaisMes }}</li>
                    <br>
                </ul>
                <br>

                <h3>🎯 Metas financeiras</h3><br>
                <ul>
                    <li>Total de metas: {{ total_quantidade_metas }}</li>
                    <br>
                    <li>Metas ativas no total: {{ metas_ativas }}</li>
                    <br>
                    <li>Metas concluídas no mês: {{ metas_concluidas }}</li>
                    <br>
                    <li>Metas ultrapassadas no mês: {{ metas_ultrapassadas }}</li>
                    <br>
                    <li>Metas não atingidas no mês: {{ metas_naoatingidas }}</li>
                    <br>
                    <li>Taxa de Sucesso: {{ taxa_sucesso_metas|floatformat:2 }}%</li>
                    <br>
                </ul>
                <br>
            </div>

            <div class="resumo-coluna">
                <h3>💰 Objetivos de Poupança</h3><br>
                <ul>
                    <li>Total de objetivos existentes: {{ total_objetivos }}</li>
                    <br>
                    <li>Objetivos ativos no total: {{ objetivos_ativosTotal }}</li>
                    <br>
                    <li>Objetivos pausados no total: {{ objetivos_pausadosTotal }}</li>
                    <br>
                    <li>Objetivos concluidos no total: {{ objetivos_concluidosTotal }}</li>
                    <br>
                    <li>Objetivos concluídos este mês: {{ objetivos_concluidosMes }}</li>
                    <br>
                    <li>Objetivos criados este mês: {{ objetivos_criadosMes }}</li>
                    <br>
                    <li>Total Economizado: Alterar</li>
                    <br>
                </ul>
                <br>

                <h3>📊 Análise Detalhada</h3><br>
                <ul>
                    <li>Categoria com maior Gasto: <strong>{{ maior_categoria_despesa }}</strong> [
                        R$ {{ valor_maior_categoria_despesa }} ]
                    </li>
                    <br>
                    <li>Categoria com menor Gasto: <strong>{{ menor_categoria_despesa }}</strong> [
                        R$ {{ valor_menor_categoria_despesa }} ]
                    </li>
                    <br>
                    <li>Categoria com maior receita: <strong>{{ maior_categoria_receita }}</strong> [
                        R$ {{ valor_maior_categoria_receita }} ]
                    </li>
                    <br>
                    <li>Categoria com menor receita: <strong>{{ menor_categoria_receita }}</strong> [
                        R$ {{ valor_menor_categoria_receita }} ]
                    </li>
                    <br>
                    <li>Maior transação de receita: R$ {{ maior_receita }}</li>
                    <br>
                    <li>Maior transação de despesa: R$ {{ maior_despesa }}</li>
                    <br>
                    <li>Frequência de Transações: {{ frequencia_transacoes|floatformat:2 }} por dia
                    </li>
                    <br>
                </ul>
            </div>
        </div>

        <div class="graficos-container">
            <div class="grafico-switch">
                <div class="chart-header">
                    <h3>Gráfico da variação do saldo do mês</h3>
                    <button id="botao-historico-fluxo" onclick="alternarGrafico()" class="btn-grafico" value="fluxo">
                        Alternar para fluxo de caixa
                    </button>
                </div>
                <canvas id="graficoLinha"></canvas>
            </div>

            <div class="graficos-row">
                <div class="grafico-categorias">
                    <div class="chart-header">
                        <h3>Gráfico de categorias</h3>
                        <button id="botao-pizza" onclick="alternarGraficoPizza()" class="btn-grafico" value="gastos">
                            Alternar para categorias de receita
                        </button>
                    </div>
                    <canvas id="graficoPizza"></canvas>
                </div>
                <div class="grafico-barras">
                    <div class="chart-header">
                        <h3 id="tituloGraficoBarras">Gastos por dia da semana</h3>
                    </div>
                    <canvas id="graficoBarras"></canvas>
                </div>
            </div>
        </div>
    </section>
</main>

<script defer>

    function dadosGraficoPizza(tipo) {
        if (tipo === "gastos") {

            const categorias_gasto = "{{ categorias_despesa }}".split(',');
            const valores_gasto = "{{ valores_categoria_receita }}".split(',');

            const cores_gastos = {
                "Alimentação": "#f39c12"
                , "Transporte": "#1abc9c"
                , "Educação": "#3498db"
                , "Moradia": "#9b59b6"
                , "Despesas pessoais": "#e74c3c"
                , "Saúde": "#2ecc71"
                , "Tarifas": "#34495e"
                , "Outras despesas": "#95a5a6"
            };

            let lista_cores_gastos = [];
            let nome_categorias_gastos = [];

            for (let i = 0; i < categorias_gasto.length; i++) {
                let nome = categorias_gasto[i]
                lista_cores_gastos.push(cores_gastos[nome]);
                nome_categorias_gastos.push(nome);
            }

            return {
                labels: nome_categorias_gastos,
                datasets: [{
                    label: "Gastos por categoria",
                    data: valores_gasto,
                    backgroundColor: lista_cores_gastos
                }]
            };
        }
        if (tipo === "ganhos") {

            const categorias_ganhos = "{{ categorias_receita }}".split(',');
            const valores_ganhos = "{{ valores_categoria_receita }}".split(',');

            const cores_ganhos = {
                "Salário": "#1f77b4"
                , "Aposentadoria": "#ff7f0e"
                , "Bolsa de estudos": "#2ca02c"
                , "Aluguel recebido": "#d62728"
                , "Rendimentos de investimentos": "#9467bd"
                , "Freelance": "#8c564b"
                , "Venda de produtos": "#e377c2"
                , "Comissão": "#7f7f7f"
                , "Prêmios": "#bcbd22"
                , "Presente": "#17becf"
                , "Doação": "#aec7e8"
                , "Herança": "#ffbb78"
                , "Outras Receita": "#95a5a6"
            };

            let lista_cores_ganhos = [];

            let nome_categorias_ganhos = [];

            for (let i = 0; i < categorias_ganhos.length; i++) {
                let nome = categorias_ganhos[i];
                lista_cores_ganhos.push(cores_ganhos[nome]);
                nome_categorias_ganhos.push(nome);
            }


            return {
                labels: nome_categorias_ganhos,
                datasets: [{
                    label: "Ganhos por categoria",
                    data: valores_ganhos,
                    backgroundColor: lista_cores_ganhos
                }]
            };
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        try {
            const dados_historico = "{{ valores_historico|escapejs }}".split(',');
            const dias_historico = "{{ dias_historico|escapejs }}".split(',');
            let graficoLinha = new Chart(document.getElementById("graficoLinha"), {
                type: "line",
                data: {
                    labels: dias_historico,
                    datasets: [{
                        label: "historico",
                        data: dados_historico,
                        borderColor: "#2ecc71",
                        backgroundColor: "rgba(46, 204, 113, 0.1)",
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false, // Adicionado para controlar o tamanho
                    plugins: {legend: {display: false}}
                }
            });


            let dadosGastos = dadosGraficoPizza("gastos");

            let GraficoPizza = new Chart(document.getElementById("graficoPizza"), {
                type: "pie",
                data: dadosGastos,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {position: 'bottom'}
                    }
                }
            });

            const dados_gastos_dias_semana = "{{ gastos_dia_da_semana }}".split(",");
            const dias_semana = "{{ dias_semana }}".split(",");

            graficoBarras = new Chart(document.getElementById("graficoBarras").getContext("2d"), {
                type: "bar",
                data: {
                    labels: dias_semana,
                    datasets: [{
                        label: "Gastos",
                        data: dados_gastos_dias_semana,
                        backgroundColor: "#e74c3c"
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {legend: {display: false}}
                }
            });
        } catch (e) {
            console.error("Erro ao carregar dados dos gráficos.", e);
        }
    });

    function alternarGrafico() {
        const dados_historico = "{{ valores_historico|escapejs }}".split(',');

        const dados_fluxo = "{{ valores_fluxo }}".split(',');

        const botao_alternar = document.getElementById("botao-historico-fluxo");
        let tipoGraficoLinha = botao_alternar.value;

        botao_alternar.value = tipoGraficoLinha === "historico" ? "fluxo" : "historico";

        const graficoLinha = Chart.getChart("graficoLinha");

        graficoLinha.data.datasets[0] = tipoGraficoLinha === "historico"
            ? {
                label: "historico saldo",
                data: dados_historico,
                borderColor: "#2ecc71",
                backgroundColor: "rgba(46, 204, 113, 0.1)"
            }
            : {
                label: "Fluxo de Caixa",
                data: dados_fluxo,
                borderColor: "#3498db",
                backgroundColor: "rgba(52, 152, 219, 0.1)"
            };
        graficoLinha.update();
        const botao = document.querySelector(".grafico-switch button");
        botao.innerText = tipoGraficoLinha === "historico" ? "Alternar para fluxo de caixa" : "Alternar para saldo";

    }

    let modoGrafico = "gastos";

    function alternarGraficoPizza() {
        let meuGrafico = Chart.getChart("graficoPizza");
        if (modoGrafico === "gastos") {
            meuGrafico.data = dadosGraficoPizza("ganhos");
            document.getElementById("botao-pizza").innerText = "Alternar para categorias de despesa";
            modoGrafico = "ganhos";
        } else {
            meuGrafico.data = dadosGraficoPizza("gastos");
            document.getElementById("botao-pizza").innerText = "Alternar para categorias de receita";
            modoGrafico = "ganhos";
        }
        meuGrafico.update();
    }
</script>
</body>
</html>